h1{
    background-color: black;
    color:cyan;
    text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    background-color:blueviolet;
    color: white;
    text-align:center;
}

#text-1{
    color:white;
}

#box-1{
    background-color:lightblue;
    color:darkblue;
    text-align:right;
}